* {
    padding: 0;
    margin: 0;

}

#header {
    background-color: #fe7014;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#header > img {
    width:100px;
}